body {
  background-color: #efefef;
  font-family: sans-serif;
  padding: 4rem;
}

input {
  width: 100%;
}

.user {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  overflow: hidden;
  height: 45px;
  position: relative;
}


.user__image {
  position: absolute;
}

.user__image img {
  width: 2.8rem;
  border-radius: 0.5rem 0 0 0.5rem;
  position: absolute;
  top: 0;
  left: -1.5px;
}

.user__name {
  font-size: 1rem;
  position: absolute;
  font-family: Arial, sans-serif;
  font-weight: 100;
  top: 30%;
  left: 50px;
}